{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta http-equiv="content-script-type" content="text/javascript" />
		<meta http-equiv="content-style-type" content="text/css" />
		<meta http-equiv="content-language" content="nl" />
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<meta name="author" content="Matthew R. Rivera" />	
		<!--<meta name="description" content="I'm Matthew R. Rivera, a software engineer and Python enthusiast." />-->
		<!--<meta name="keywords" content="Matthew Rivera, Python programmer, Software Engineer, Backend Developer, Startup, Interactive CV, Resume, CV, Django, Algorithms" />-->
		<meta name="robots" content="index, follow" />
		<meta name="revisit-after" content="14 days" />
		
		<title>Matthew Rivera - Software Engineer</title>
		
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="{% static 'index/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'index/css/style.css' %}" />
		
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	</head>
	
	<body data-spy="scroll" data-target="#navbar-example">	 
		<!--<div id="top" class="jumbotron" data-position="center right">-->
		<!--	<div class="container">-->
		<!--		<h1>Matthew R. Rivera</h1>-->
		<!--		<p class="lead">Personal Website / Resume</p>-->
		<!--	</div>-->
			
		<!--	<div class="overlay"></div>-->
			
		<!--	<a href="#profile" class="scroll-down">	-->
		<!--		<img class="glyphicon" src="{% static "index/img/chevron-down.svg" %}" alt="Map Marker"/>-->
		<!--	</a>-->
		<!--</div>-->
		
		<nav class="navbar navbar-default" id="navbar-example" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="navbar-collapse navbar-ex1-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a class="nav-link" href="#profile">Profile</a></li>
					<li><a class="nav-link" href="#experiences">Experiences</a></li>
					<li><a class="nav-link" href="#abilities">Abilities</a></li>
										<li><a href="#projects">Projects</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>

		{% include 'sections/profile.html' %}
		{% include 'sections/education.html' %}
		{% include 'sections/experience.html' %}
		{% include 'sections/projects.html' %}
		{% include 'sections/abilities.html' %}
		{% include 'sections/contact.html' %}

		<div class="text-center">
			<iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="http://platform.twitter.com/widgets/tweet_button.c633b87376883931e7436b93bb46a699.en.html#_=1452458429192&amp;dnt=false&amp;id=twitter-widget-1&amp;lang=en&amp;original_referer=http%3A%2F%2Fwebcache.googleusercontent.com%2Fsearch%3Fq%3Dcache%3AcRExpd3vwGsJ%3Awww.pascalvangemert.nl%2F%2B%26cd%3D1%26hl%3Den%26ct%3Dclnk%26gl%3Dnl%26lr%3Dlang_nl%257Clang_en&amp;size=m&amp;text=Pascal%20van%20Gemert%20-%20Web%20Developer%20-%20Interactive%20Resume&amp;type=share&amp;url=http%3A%2F%2Fpascalvangemert.nl%2F%3Fref%3Dtwitter&amp;via=pascalvgemert" style="position: static; visibility: visible; width: 62px; height: 20px;" data-url="http://pascalvangemert.nl/?ref=twitter"></iframe>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		</div>			
		
		<div class="modal fade" id="upgrade-dialog" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Your browser is out of date</h4>
					</div>
					<div class="modal-body">
						<p>To get the best possible experience using our site we recommend that you upgrade to a modern web browser. To download a newer web browser click on the Upgrade button.</p>
					</div>
					<div class="modal-footer">
						<a href="http://browsehappy.com/" target="_blank" class="btn btn-primary">Upgrade</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Bootstrap core JavaScript -->
		<script type="text/javascript" src="{% static 'index/js/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'index/js/script.js' %}"></script>
		<script type="text/javascript" src="{% static 'index/js/bootstrap.min.js' %}"></script>
	</body>
</html>