<html>
    <head>
        <title>Matthew's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Matthew's Blog</a></h1>
        </div>

        <div>
            <p>published: today, 2018</p>
            <h2><a href="">Hello, World!</a></h2>
            <p>This is an example of the first post.</p>
        </div>

        <div>
            <p>published: today, 2018</p>
            <h2><a href="">Hola, Mundo!</a></h2>
            <p>This is an example of the second post.</p>
        </div>
    </body>
</html>