{% load staticfiles %}
		<div class="background-white">
			<div id="abilities" class="container">
				<h2>Abilities</h2>
<hr />

<h3>Skills</h3>

<div class="row">

		
	<div class="col-md-6">
		<ul class="no-bullets">
		
				
			<li>
				<span class="ability-title">Bootstrap Framework</span>
				<span class="ability-score">
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
				</span>
			</li>
			
			<li>
				<span class="ability-title">CSS(3)</span>
				<span class="ability-score">
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>			
				</span>
			</li>
			
			<li>
				<span class="ability-title">HTML(5)</span>
				<span class="ability-score">
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
				</span>
			</li>
				
			<li>
				<span class="ability-title">JSON</span>
				<span class="ability-score">
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>		
				</span>
			</li>
			
			<li>
				<span class="ability-title">MySQL</span>
				<span class="ability-score">
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>		
				</span>
			</li>
			
			<li>
				<span class="ability-title">PHP</span>
				<span class="ability-score">
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>	
				</span>
			</li>
			
			<li>
				<span class="ability-title">XML</span>
				<span class="ability-score">
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>		
				</span>
			</li>
			
			<li>
				<span class="ability-title">Builder Pattern</span>
				<span class="ability-score">
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>		
				</span>
			</li>
			
			<li>
				<span class="ability-title">Command line Inteface</span>
				<span class="ability-score">
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>			
				</span>
			</li>
			
			<li>
				<span class="ability-title">JQuery</span>
				<span class="ability-score">
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>	
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Java</span>
				<span class="ability-score">
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>		
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Javascript</span>
				<span class="ability-score">
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">LESS</span>
				<span class="ability-score">
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>		
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Laravel Framework</span>
				<span class="ability-score">
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>				
				</span>
			</li>
			
			 
			
		</ul>
	</div>
	<div class="col-md-6">
		<ul class="no-bullets">
			
					
				
			<li>
				<span class="ability-title">MVC Pattern</span>
				<span class="ability-score">
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>				
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Method Factory Pattern</span>
				<span class="ability-score">
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>	
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Object Orientated Programming</span>
				<span class="ability-score">
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>			
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">SASS / SCSS</span>
				<span class="ability-score">
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>				
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">SEO</span>
				<span class="ability-score">
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>			
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Scrum</span>
				<span class="ability-score">
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>			
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Singleton Pattern</span>
				<span class="ability-score">
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>				
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">UML</span>
				<span class="ability-score">
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>			
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Wordpress</span>
				<span class="ability-score">
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>	
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">BEM</span>
				<span class="ability-score">
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>			
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">AngularJS</span>
				<span class="ability-score">
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>			
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">ElasticSearch</span>
				<span class="ability-score">
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>			
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Ruby</span>
				<span class="ability-score">
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>
					<img class="filled" src="{% static "index/img/star.svg" %}" alt="Filled Star"/>			
				</span>
			</li>
			
					
				
		</ul>
	</div>
	
		
</div>

<hr />

<h3>Tools</h3>

<div class="row">
		
	<div class="col-md-6">
		<ul class="no-bullets">
		
					
			
					
				
			<li>
				<span class="ability-title">MS Office (10+ years)</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Windows (5 years)</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
					
				
			
					
		
			
					
				
			<li>
				<span class="ability-title">Adobe Photoshop (8 years)</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Atlassian / Jira (3 year)</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
			 
			
		</ul>
	</div>
	<div class="col-md-6">
		<ul class="no-bullets">
			
					
				
					
				
			<li>
				<span class="ability-title">Git / Git Flow (4 year)</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
			
					
				
			<li>
				<span class="ability-title">Python 3 (2 years)</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Django 2</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			
					
				
			<li>
				<span class="ability-title">Adobe Illustrator (6 years)</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					

			
					
				
		</ul>
	</div>
	
	</div>			</div>
		</div>