{% load staticfiles %}
		<div class="background-gray">
			<div id="contact" class="container">
				<h2>Contact</h2>

<hr />

<div class="row">
	<div class="col-md-6">
		<ul class="no-bullets">
			<li>
				<a href="http://linkedin.com/in/matthewrr/" target="_blank">
					<span class="icon icon-linkedin"></span>
					http://linkedin.com/in/matthewrr/				</a>
			</li>
		</ul>
	</div>
	<div class="col-md-6">
		<ul class="no-bullets">
			<!--<li>
				<a href="javascript:void(0);">
					<span class="icon icon-skype"></span>
					pascalvgemert				</a>
			</li>-->
			<li>
				<a href="mailto:mrrivera@alumni.stanford.edu">
					<span class="icon icon-email"></span>
					<span style="unicode-bidi:bidi-override; direction: rtl;">
						ude.drofnats.inmula@arevirrm					</span>
				</a>
			</li>
		</ul>
	</div>
</div>

<hr />