{% load staticfiles %}

		<div id="experiences" class="container">
			<h2>Education</h2>

<hr />

<div class="experiences">

					
	<div class="experience row">
		<div class="col-md-4">
			<h4>Stanford University</h4>
			<p class="experience-period">
				Sept 2007				- 
				June 2011			</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Bachelor's Degree - Political Science</strong>
				<span class="hidden-phone">
					The education was mainly Java-based programming, but I also learned about SQL, PHP, MVC, UML and more. During my time in college, I specialized in multimedia. Here I learned about gaming -the importance of OOP-, web- and user experience and design.				</span>
				<span class="experience-details">
					<span class="location">
						<img src="{% static "index/img/location.svg" %}" alt="Map Marker"/>
						Palo Alto, CA					</span>
				</span>
			</p>
		</div>
	</div>
	
					
	<div class="experience row">
		<div class="col-md-4">
			<h4>Spokane Falls College</h4>
			<p class="experience-period">
				Sept 2005				- 
				Jun 2007			</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Associate of Arts Degree - General Studies</strong>
				<span class="hidden-phone">
					The education was mainly Java-based programming, but I also learned about SQL, PHP, MVC, UML and more. During my time in college, I specialized in multimedia. Here I learned about gaming -the importance of OOP-, web- and user experience and design.				</span>
				<span class="experience-details">
					<span class="location">
						<img src="{% static "index/img/location.svg" %}" alt="Map Marker"/>
						Spokane, WA					</span>
				</span>
			</p>
		</div>
	</div>
	
					
	<div class="experience row">
		<div class="col-md-4">
			<h4>John R. Rogers High School</h4>
			<p class="experience-period">
				Aug 2003				- 
				Jun 2007			</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>High School Degree - Valedictorian</strong>
				<span class="hidden-phone">
					I graduated highschool, where I enjoyed doing science, math, biology and arts. I realized in my third year of school that I wanted to do something with websites, and so I started making small flash/actionscript applications.				</span>
				<span class="experience-details">
					<span class="location">
						<img src="{% static "index/img/location.svg" %}" alt="Map Marker"/>
						Spokane, WA					</span>
				</span>
			</p>
		</div>
	</div>
	
	
</div>
	</div>