{% load staticfiles %}

<div id="experiences" class="container">
	<h2>Education</h2>
	<hr />
	<div class="experiences">
	{% for edu in education %}
		<div class="experience row">
			<div class="col-md-5">
				<h4>{{edu.school}}</h4>
				<p class="experience-period">
					{{edu.start_date|date:"M Y"}} - {{edu.end_date|date:"M Y"}}
				</p>
			</div>
			<div class="col-md-7">
				<p>
					<strong>{{edu.degree}} - {{edu.subject}}</strong>
					<span class="hidden-phone">
						{{edu.description}}
					</span>
					<span class="experience-details">
						<span class="location">
							<img src="{% static "index/img/location.svg" %}" alt="Map Marker"/ >
							<a>{{edu.location}}</a>
						</span>
					</span>
				</p>
			</div>
		</div>
	{% endfor %}
	</div>
</div>