{% load staticfiles %}
<!--<h3>Careers</h3>-->
<div class="background-white">
	<div id="experiences" class="container">
		<h2>Experience</h2>
		<hr />
		<div class="experiences">
		{% for experience in experiences %}
			<div class="experience row">
				<div class="col-md-4">
					<h4>{{experience.company}}</h4>
					<p class="experience-period">
						{{experience.start_date|date:"M Y"}} - {{experience.end_date|date:"M Y"}}
					</p>
				</div>
				<div class="col-md-8">
					<p>
						<strong>{{experience.title}}</strong>
						<span class="hidden-phone">{{experience.description}}</span>
						<span class="experience-details">
							<span class="location">
								<img src="{% static "index/img/location.svg" %}" alt="Map Marker"/>
								{{experience.location}}
							</span>
						</span>
					</p>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
</div>