{% load staticfiles %}

		<div class="background-white">
			<div id="profile" class="container">
				<h2>Matthew R. Rivera</h2>
<p class="lead">PYTHON SOFTWARE ENGINEER</p>

<hr />

<div class="row">
	<div class="col-md-4">
		<h3>About Me</h3>
		<p>
			I am an allround web developer. I am a senior programmer with good knowledge of front-end techniques. I love structure and order and I also stand for quality. I love spending time on fixing little details and optimizing web apps. Also I like working in a team, you'll learn faster and much more. As the saying goes: 'two heads are better than one'.		</p>
	</div>
	<div class="col-md-4 text-center">
		<img src="{% static "index/img/headshot.jpeg" %}" alt="Matthew R. Rivera" width="246" height="246"/>
		<!--<img src="/view/images/pascal_van_gemert.png" alt="Pascal van Gemert" width="246" height="246" />-->
	</div>
	<div class="col-md-4">
		<h3>Details</h3>
		<p>
			<strong>Name:</strong><br />
			Matthew R. Rivera<br />
			<!--<strong>Age:</strong><br />-->
			<!--28 years<br />-->
			<strong>Location:</strong><br />
			San Francisco, California<br />
			<strong>Contact:</strong><br />
			mrrivera@alumni.stanford.edu	
			</p>
		
	</div>
</div>

</form>
</div>			</div>	
		</div>	