{% load staticfiles %}

<div id="projects" class="container">
			<h2>Projects</h2>

<hr />

<h3>Coding</h3>


<div class="row">

		
	<div class="col-md-6 col-sm-12 col-xs-12">
		<figure class="effect">
			<img src="/view/images/project_mals.jpg" alt="Mals" />
			
			<figcaption>
				<h3>Mals</h3>
				<p>Mals, a creative agency located in Rotterdam.</p>
				<p><strong>Tags:</strong> <br />Development, Wordpress, Bootstrap</p>
				<a href="http://studiomals.com" target="_blank">View more</a>
				<span class="icon">
					<span class="glyphicon glyphicon-new-window"></span>
				</span>
			</figcaption> 
		</figure>
	</div>

		
	<div class="col-md-6 col-sm-12 col-xs-12">
		<figure class="effect">
			<img src="/view/images/project_soap.jpg" alt="SOAP - Den Bosch" />
			
			<figcaption>
				<h3>SOAP - Den Bosch</h3>
				<p>Build the website of the local barbershop.</p>
				<p><strong>Tags:</strong> <br />Design, Development, Bootstrap, Wordpress</p>
				<a href="http://soaphair.nl" target="_blank">View more</a>
				<span class="icon">
					<span class="glyphicon glyphicon-new-window"></span>
				</span>
			</figcaption> 
		</figure>
	</div>

		
	<div class="col-md-6 col-sm-12 col-xs-12">
		<figure class="effect">
			<img src="/view/images/project_oranjebitter.jpg" alt="Oranjebitter Rotterdam" />
			
			<figcaption>
				<h3>Oranjebitter Rotterdam</h3>
				<p>Build a website for the Oranjebitter Festival in Rotterdam (3 years in a row)</p>
				<p><strong>Tags:</strong> <br />Development, Bootstrap, Wordpress</p>
				<a href="http://oranjebitter-rotterdam.nl" target="_blank">View more</a>
				<span class="icon">
					<span class="glyphicon glyphicon-new-window"></span>
				</span>
			</figcaption> 
		</figure>
	</div>

		
	<div class="col-md-6 col-sm-12 col-xs-12">
		<figure class="effect">
			<img src="/view/images/project_oetelspel.jpg" alt="Oetelspel" />
			
			<figcaption>
				<h3>Oetelspel</h3>
				<p>An online game specially for Carneval at 's-Hertogenbosch.</p>
				<p><strong>Tags:</strong> <br />Development, Concept, Founder</p>
				<a href="http://oetelspel.nl" target="_blank">View more</a>
				<span class="icon">
					<span class="glyphicon glyphicon-new-window"></span>
				</span>
			</figcaption> 
		</figure>
	</div>
	
</div>
	<h3>Design</h3>
	<div class="row">
	


		
	<div class="col-md-6 col-sm-12 col-xs-12">
		<figure class="effect">
			<img src="/view/images/project_mals.jpg" alt="Mals" />
			
			<figcaption>
				<h3>Mals</h3>
				<p>Mals, a creative agency located in Rotterdam.</p>
				<p><strong>Tags:</strong> <br />Development, Wordpress, Bootstrap</p>
				<a href="http://studiomals.com" target="_blank">View more</a>
				<span class="icon">
					<span class="glyphicon glyphicon-new-window"></span>
				</span>
			</figcaption> 
		</figure>
	</div>
	
	<script src="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.min.js"></script>

	<!-- Optionally, include the theme (if you don't want to struggle to write the CSS) -->
	<link rel="stylesheet" href="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.css" />
	<div class="calendar" style="display:none;">Loading the data just for you.</div>
	<script>
	    GitHubCalendar(".calendar", "matthewrr");
	</script>
  </div>
  </div>