{% load staticfiles %}

<div id="projects" class="container">
	<h2>Projects</h2>
	<hr />
	{% for category,projects in all_projects.items %}
	<div class="row">
		<h3>{{category|capfirst}}</h3>
		{% for project in projects %}
		<div class="col-md-6 col-sm-12 col-xs-12">
			<figure class="effect">
				<img src="{% static 'index/img/star.svg' %}" alt="TBD" />
				<figcaption>
					<h3>{{project.title}}</h3>
					<p>{{project.description}}</p>
					<a href="{{project.link}}" target="_blank">View more</a>
					<span class="icon">
						<span class="glyphicon glyphicon-new-window"></span>
					</span>
				</figcaption> 
			</figure>
		</div>
		{% endfor %}
	</div>
	{% endfor %}
	
	<!--<script src="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.min.js"></script>-->

	<!-- Optionally, include the theme (if you don't want to struggle to write the CSS) -->
	<!--<link rel="stylesheet" href="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.css" />-->
	<!--<div class="calendar" style="display:none;">Loading the data just for you.</div>-->
	<!--<script>-->
	<!--    GitHubCalendar(".calendar", "matthewrr");-->
	<!--</script>-->
 </div>